.switch {
  .btn {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
  }
  .btn2 {
    background-color: red;
    color: green;
    box-shadow: inset;
    text-align: center;
  }
}
